* {
  margin: 0;
  padding: 0; }

body {
  background-color: #262626; }

.logo {
  font-size: 4.3em;
  color: #d3ab55;
  display: block;
  width: 110px;
  height: 110px; }

.header {
  background-size: cover;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6)), url(../images/bg.jpeg) center no-repeat;
  height: 100vh;
  position: relative;
  width: 100%; }

.brand {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white; }
