.logo {
  @include flexLayout;
  border: 3px solid $color-primary;
  border-radius: 50%;
  color: $color-primary;
  font-size: 4.3em;
  height: 110px;
  margin-right: .5rem;
  width: 110px;
}

.main-name {
  @include textStyles;
  font-family: $font-nunito;
  font-size: 3em;
  color: $color-secondary;
}

.sub-name {
  @include textStyles;
  font-family: $font-josefinSans;
  font-size: 1.2em;
  color: $color-secondary;
  text-align: center;
}

.main-heading {
  color: $color-primary;
  font-family: $font-dancingScript;
  font-size: 6.25em;
  font-weight: 300;
  margin-bottom: 2.5rem;
}

.sub-heading {
  color: $color-secondary;
  font-family: $font-josefinSans;
  font-size: 3.75em;
  font-weight: 300;
  margin-bottom: 5rem;
}

.main-btn {
  background-color: transparent;
  border: 1px solid $color-primary;
  color: $color-primary;
  cursor: pointer;
  font-family: $font-josefinSans;
  font-size: .8em;
  height: 45px;
  letter-spacing: 1px;
  outline: none;
  transition: all .3s;
  text-transform: uppercase;
  width: 170px;

  &:hover {
    background-color: $color-primary;
    color: $color-dark;
  }
}

.card {
  width: 33.3333%;
  height: 30vw;
  position: relative;
  overflow: hidden;

  &-overlay {
    position: absolute;
  }

  &-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: .5;
  }
}