.logo {
  @include flexLayout;
  border: 3px solid $color-primary;
  border-radius: 50%;
  color: $color-primary;
  font-size: 4.3em;
  height: 110px;
  margin-right: 20px;
  width: 110px;
}

.main-name {
  @include textStyles;
  font-family: $font-nunito;
  font-size: 3em;
  color: $color-secondary;
}

.sub-name {
  @include textStyles;
  font-family: $font-josefinSans;
  font-size: 1.2em;
  color: $color-secondary;
  text-align: center;
}