.header {
  background-size: cover;
  background: linear-gradient(rgba($color-black, .8), rgba($color-black, .6)), url(../images/bg.jpeg) center no-repeat;
  height: 100vh;
  position: relative;
  width: 100%;
}

.brand {
  align-items: center;
  color: white;
  display: flex;
  left: 50%;
  position: absolute;
  top: 15%;
  transform: translate(-50%, -50%);
}